---
import Header from "../../ui/Header.astro";
import BentoGrid from "./BentoGrid.astro";
---

<section class="container mt-24" id="services">
  <article class="flex flex-col gap-4">
    <Header title="Lo que podemos hacer" subtitle="Servicios" />
    <BentoGrid />
  </article>
</section>
