---
import { ContactForm } from "@components/shared/ContactForm";
import Header from "@components/ui/Header.astro";
import Paragraph from "@components/ui/Paragraph.astro";
import { Image } from "astro:assets";
---

<section class="container mt-12 flex flex-col gap-4" id="contact">
  <Header title="Contáctenos" subtitle="Contacto" />
  <Paragraph>
    Por favor, comparte tus datos a continuación y nos pondremos en contacto con
    vos. Siéntete libre de enviarnos cualquier consulta o solicitud de
    presupuesto; estaremos encantados de responderte. Si lo deseas podes
    escribirnos en nuestro email: <span class="font-bold"
      >teclearla@gmail.com</span
    >
  </Paragraph>
  <article class="grid md:grid-cols-2 gap-8 mb-[100px] mt-4">
    <!-- Form -->
    <ContactForm client:visible />

    <div class="w-full h-full">
      <Image
        src="/equipo-web.jpg"
        alt="Imagen de un equipo web"
        width={300}
        height={300}
        class="w-full h-full object-cover"
      />
    </div>
  </article>
</section>
